#root {
    width: 100%;
}



/****** Buttons ******/


/****** Header *****
header {
    width: 100%;
}

header nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header .theme-selector-wrapper {
    display: block;
    position: relative;
}*/